@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
  html {
    @apply m-0
    p-0
    w-full
    h-full
    overflow-hidden;
  }
  body {
    -webkit-overflow-scrolling: touch;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    @apply overflow-auto
    w-full
    h-full
    bg-fixed
    bg-gray-100

    dark:bg-gradient-to-r
    dark:from-blue-800
    dark:to-indigo-900;
  }

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    @apply text-zinc-700;
    @apply dark:text-zinc-100;
  }
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    @apply text-neutral-600;
    @apply dark:text-neutral-300;
  }
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    @apply text-neutral-500;
    @apply dark:text-neutral-400;
  }
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    @apply text-neutral-600;
    @apply dark:text-neutral-200;
  }

  .link, a {
    color: inherit;
    text-decoration: none;
  }

  .link, a {
    background: linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
      );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }

  .link:hover, a:hover {
    background-size: 0 3px, 100% 3px;
  }
}

@layer components {
  .card {
    @apply w-full
   bg-white
   bg-opacity-60 
   backdrop-filter
   backdrop-blur-lg
   
   dark:bg-gray-900
   dark:bg-opacity-80
   
   shadow-lg
   p-6
   border-none 
   rounded-xl;
  }

  .fadeInSection {
    @apply transition
    ease-in-out
    delay-300

    opacity-0
    w-full
    translate-y-8;
  }

  .is-visible {
    @apply opacity-100
    translate-y-0
    duration-300;
  }

  #starrySky {
    @apply invisible
    dark:visible;
  }

  #sky {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: -10;
  }

  #shootingstars {
    margin: 0;
    padding: 0;
    width: 150vh;
    height: 100vw;
    position: fixed;
    overflow: hidden;
    z-index: -10;
    transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%))
      rotate(120deg);
  }

  .wish {
    height: 2px;
    top: 300px;
    width: 100px;
    margin: 0;
    opacity: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px white);
    overflow: hidden;
  }
}
