@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    @apply 
    m-0
    p-0
    w-full
    h-full
    overflow-hidden
  }
  body {
    -webkit-overflow-scrolling: touch;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    @apply
    overflow-auto
    w-full
    h-screen
    bg-fixed
    bg-gray-100
    bg-gradient-to-r
    from-gray-100
    via-sky-200
    to-sky-100

    dark:bg-gray-900
    dark:bg-gradient-to-r
    dark:from-blue-800
    dark:via-emerald-500
    dark:to-indigo-900
    
    background-animate

  }
  .background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  h1{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    
    @apply text-zinc-700;
    @apply dark:text-zinc-100;
  }
  h2{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    
    @apply text-neutral-600;
    @apply dark:text-neutral-300;
  }
  h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  
    @apply text-neutral-500;
    @apply dark:text-neutral-400;
  }
  p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    @apply text-neutral-600;
    @apply dark:text-neutral-200;
  }
}


@layer components{
  .card{
   @apply 
   w-full
   bg-white
   bg-opacity-60 
   backdrop-filter
   backdrop-blur-lg
   
   dark:bg-gray-900
   dark:bg-opacity-80
   
   shadow-lg
   p-6
   border-none 
   rounded-xl
  }

  .fadeInSection {
    @apply
    transition
    ease-in-out
    delay-300

    opacity-0
    w-full
    translate-y-8
  }
  
  .is-visible {
    @apply
    opacity-100
    translate-y-0
    duration-300
  }
  
}