@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    @apply m-0;
    @apply p-0;
    @apply w-full;
    @apply h-full;

  }

  body {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    
    @apply text-zinc-700;
    @apply bg-gray-100;
    @apply dark:bg-gray-900;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  h1{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    
    @apply text-zinc-700;
    @apply dark:text-zinc-100;
  }
  h2{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    
    @apply text-neutral-600;
    @apply dark:text-neutral-300;
  }
  h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  
    @apply text-neutral-500;
    @apply dark:text-neutral-400;
  }
  p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    @apply text-neutral-600;
    @apply dark:text-neutral-200;
  }
}


@layer components{
  .card{
   @apply bg-white;
   @apply dark:bg-gray-700;
   @apply dark:border-gray-800;
   @apply shadow-lg;
   @apply p-6;
   @apply border;
   @apply rounded-xl;
  }
}